@charset "utf-8";
  .padded img { 
    padding-left: 240px; 
    padding-right: 60em; 
  } 
h1, h2, h3, h4, h5 {
    color: #171796;
}
p {
    color: #000000;
}
li {
	color: #000000;
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: #1180D1;
}
nav {
	background-color: #aadbff;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-toggler .navbar-toggler-icon {
	
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
background-color: #aadbff;
}


footer {
	background-color: #b7d2f0;
}
#padding .container footer {
    padding-left: 20px;
    padding-top: 20px;
}

#container-bottom .container footer {
    padding-left: 20px;
    padding-top: 20px;
	width: 100%
}

#sticky-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
}
#sticky-button a {
  background: #171796;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight:800;
  font-weight: bold;
  text-transform: uppercase;
  font-family: montserrat;
  padding: 6px 14px;
  margin-left:10px;
  border-radius:10px;
  box-shadow: 2px 4px 7px rgba(0,0,0,0.2);
  transition: all ease-in-out 300ms;
  webkit-transition: all ease-in-out 300ms;
  moxkit-transition: all ease-in-out 300ms;
  &:hover {
    background:rgba(170,219,255,1);
    box-shadow: 2px 4px 7px rgba(0,0,0,0.4);
	color: #171796;
  }
  body {
    min-height: 0%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top-width: thin;
  }
}	
  #padding {
    left: auto;
  }

#carouselExampleIndicators1 {
    background-image: url(../images/cara_b.png);
    background-attachment: fixed;
}






@media screen and (max-width: 960px) {
  #sticky-button {
    bottom: 0px;
    right:6px;
    top: initial;
    transform: none;
  }
  #sticky-button a {
    writing-mode: initial;
    font-size:3vw;
    margin-left:4px;
    border-radius:4px 4px 0px 0px;
  }
}

@media screen and (min-width: 1000px) {
	h1 {
		font-size: 3rem; /* 16 * 3 = 48 px */
	}
	
	h2 {
		font-size: 2.25rem; /* 16 * 2.25 = 36 px */
	}	
	
	h3 {
		font-size: 2rem; /* 16 * 2.25 = 32 px */
	}	
	
	h4 {
		font-size: 1.5rem; /* 16 * 1.5 = 24 px */
	}
	
	h5 {
		font-size: 1rem; /* 16 * 1 = 16 px */
	}	
	
	h6 {
		font-size: 0.75rem; /* 16 * 0.75 = 12 px */
	}	
	th {
		font-size: 1.25rem;
	}
	td {
		font-size: 1rem;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.5rem; /* 16 * 3 = 48 px */
	}
	
	h2 {
		font-size: 1.125rem; /* 16 * 1.125 = 18 px */
	}
	
	h3 {
		font-size: 1rem; /* 16 * 2.25 = 32 px */
	}	
	
	h4 {
		font-size: 0.75rem; /* 16 * 1.5 = 24 px */
	}
	
	h5 {
		font-size: 0.5rem; /* 16 * 1 = 16 px */
	}	
	
	h6 {
		font-size: 0.375rem; /* 16 * 0.75 = 12 px */
	}
	th {
		font-size: 0.5rem;
	}
	td {
		font-size: 0.5rem;
	}
}

.container {
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact input[type="company"], #contact input[type="address"], #contact input[type="city"], #contact input[type="state"], #contact input[type="postalcode"], #contact input[type="country"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact input[type="city"]:hover, #contact input[type="address"]:hover, #contact input[type="city"]:hover, #contact input[type="state"]:hover, #contact input[type="postalcode"]:hover, #contact input[type="country"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

body {
	height: 7vh;
}

.box {
	text-align: center;
	top: 50%;
	left: 50%;
}

.button {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}

.overlay {
	position: fixed;
	top:0;
    left:0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 400px) {
  .wrapper {
	margin: 10px;
	padding: 5px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 80%;
	position: relative;
	transition: all 5s ease-in-out;
  }

  form label {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	font-size: 0.75rem;
  }	
	
  input[type=text]{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 8px;
	resize: vertical;
  }

}

@media screen and (min-width: 1000px) {
  .wrapper {
	margin: 70px;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
	left: 30%;
  }
	
  form label {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
	font-size: 1rem;
  }
	
  input[type=text]{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }

}	
	
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container {
	border-radius: 5px;
	background-color: #fff;
	padding: 20px 0;
}



textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	rows: 4;
}

input[type="submit"]{
	background-color: #413b3b;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 3px;
}

form {
	line-height:0.1;
}

/* slide out */
.contactme {
    margin-right: -350px;
    z-index: 9999999;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 350px;
    background: lightblue;
    transition:0.25s;
}

.contactme label {
	font-size:10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

.contactme input {
	font-size:10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}

.contactme:hover {
    margin-right:0;
	margin-bottom: 200px;
}



.contactme i {
    margin-left: -100px;
    font-size: 50px;
    color: #181174;
    background: #00ff00;
    padding: 0 5px;
    border-radius: 5px;
}

.anchor{
   display:block;
   height:63px; /* this is the height of your header */
   margin-top:-63px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

.carousel{
  margin-top: 0px;
  background-image: url("../images/cara_a.svg");
  background-attachment: fixed;
  width: 100%;
  
}
.carousel-inner{
  height: 15rem;
	
}
.carousel-caption{
  color: #fff;
  top: 50%;
	vertical-align: middle;
}



